@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
.app-logo{
  padding: 8px;
  position: absolute;
  z-index: 1;
}
.app-logo img{
  max-width: 180px;
  background-color: black;
}
.main-img{
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/8eb1e781-3494-4aa4-9405-268ca6473e4c/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  height: 1120px;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient( to top, rgb(59, 34, 34));
}
.login-form{
  max-width: 400px;
  background-color: black;
  padding: 40px;
  position: absolute;
  top: 20%;
  left: 35%;
  color: white;
  opacity: 0.8;
  border-radius: 5px;
}
.input{
  width: 100%;
  padding: 8px 4px;
  color: rgb(14, 2, 2);
  background-color: rgb(181, 179, 179);
  margin: 15px 0;
  border-radius: 4px;
}
button{
  margin: 24px 0;
  width: 100%;

}
.pointer{
  cursor: pointer;
}